---
import NavBar from "../components/navBar.astro";
import SideMenu from "../components/SideMenu.astro"; // Importar SideMenu
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  withBackground?: boolean;
}

const {
  title = "Hacketubers Entertainment",
  description = "Desarrollador de Aplicaciones y Videojuegos Indie. Creamos experiencias únicas.",
  image = "/logo.png",
  withBackground = true,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logoico.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <link rel="canonical" href="https://hacketubers-entertainment.com/" />
    <meta
      name="google-site-verification"
      content="google90f1e9edfda55b64.html"
    />
  </head>
  <body>
    <NavBar />
    <SideMenu />
    <!-- Añadir SideMenu al layout -->
    <slot />
    <Footer withBackground={withBackground} />
  </body>
</html>

<style is:global>
  @import "../styles/global.css";
</style>
